@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
  }
  
  .sidebar-container .ps-sidebar-container{
    background-color: #FFF;
    border: 0px solid #E5E7Eb;
    border-left: 0;
    border-top: 0;
    height: 100vh;
    & .ps-menu-button{
      transition: all 0.15s;
    }
    & .ps-menu-button{
        padding-block: 2.5rem;

    }
    & .ps-menu-button:hover{
      background-color: #dcdcdc;
    }
  }
  .sidebar-container button{
      color: red;
      background-color: transparent;
      border: 0;
      &:hover{
          cursor: pointer;
        }
    }
    .collapse-button{
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
        perspective: 1000px;
    }
    .collapse-button.expanded {
        /* transform: scale(-1); */
        transform: rotateY(180deg);
    }
    .sidebar-container .css-1wvake5 {
        border: 0;
    }

    .sidebar-container {
      transition: transform 0.3s ease;
    }
    
    .sidebar-container.hide {
      transform: translateX(-100%);
    }
    
    .sidebar-container.show {
      transform: translateX(0);
    }

    /*?=========================================================================================  */
    .responsive-table-categories {
      padding: 0;
      li {
        border-radius: 5px;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
      .table-header {
        color: #FFF;
        background-color: #0D1321;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
      .table-row {
        font-family: Poppins;
        border: 2px solid #CCCCCC;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        align-items: center;
      }
      .col-1 {
        flex-basis: 10%;
      }
      .col-2 {
        flex-basis: 10%;
      }
      .col-3 {
        flex-basis: 15%;
      }
      .col-4 {
        flex-basis: 10%;
      }
      .col-5 {
        flex-basis: 10%;
      }
      .col-6 {
        flex-basis: 10%;
      }
    
    
      /***************************************/
    
      @media all and (max-width: 650px) {
        .table-header {
          display: none;
        }
    
        li {
          display: block;
        }
        .col {
          flex-basis: 100%;
        }
        .col {
          width: 100%;
          display: flex;
          padding: 10px 0;
          &:before {
            color: #6c7a89;
            content: attr(data-label);
            flex-basis: 50%;
            font-size: 15px;
          }
        }
      }
    }
    




